mrlldd.Caching/.idea
mrlldd.Caching/mrlldd.Caching/obj
mrlldd.Caching/mrlldd.Caching/bin
mrlldd.Caching/mrlldd.Caching.Tests/bin
mrlldd.Caching/mrlldd.Caching.Tests/obj
mrlldd.Caching/mrlldd.Caching.Abstractions/bin
mrlldd.Caching/mrlldd.Caching.Abstractions/obj
mrlldd.Caching/mrlldd.Caching.Logging/bin
mrlldd.Caching/mrlldd.Caching.Logging/obj
mrlldd.Caching/mrlldd.Caching.sln.DotSettings.user
mrlldd.Caching/mrlldd.Caching/mrlldd.Caching.xml
